@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  background: url("./images/bg-pattern-bottom-mobile.svg") no-repeat bottom,
    url("./images/bg-pattern-top-mobile.svg") no-repeat top;
}

img {
  max-width: 100%;
}

h1 {
  color: #512051;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.14286px;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 327px;
  margin: 80px auto 99px auto;
}

.introduction {
  margin-bottom: 40px;
  text-align: center;
}

.introduction p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #927b91;
}

.introduction h1 {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.71429px;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 266px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 78px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #512051;
  background-color: #f7f2f7;
  border-radius: 8px;
}

.endorsement {
  background: #512051;
  border-radius: 8px;
  padding: 32px;
  padding-top: 40px;
}

.endorsement:not(:last-child) {
  margin-bottom: 16px;
}

.endorsement p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.232143px;
  color: #ffffff;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.avatar img {
  height: 40px;
  width: 40px;
  margin-right: 23px;
  border-radius: 50%;
}

.avatar p {
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
}

.avatar p:nth-child(2) {
  font-weight: normal;
  color: #ee69a4;
  margin-top: 5px;
}

@media (min-width: 1110px) {
  body {
    background: url("./images/bg-pattern-bottom-desktop.svg") no-repeat right
        bottom,
      url("./images/bg-pattern-top-desktop.svg") no-repeat top left;
    display: flex;
  }

  .container {
    width: 1110px;
    margin: auto;
  }

  .introduction {
    width: 445px;
    margin-right: 125px;
    text-align: left;
    margin-bottom: 0;
  }

  .introduction h1 {
    margin-bottom: 6;
  }

  .introduction p {
    text-align: left;
  }

  .reviews {
    width: 540px;
  }
  .reviews {
    min-height: 200px;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  .review {
    flex-direction: row;
    justify-content: left;

    padding: 20px 32px 20px 32px;
    height: 56px;
    width: 445px;
  }

  .review:nth-child(2) {
    align-self: center;
  }
  .review:nth-child(3) {
    align-self: flex-end;
  }

  .stars {
    margin-right: 32px;
  }

  .endorsements {
    display: flex;
    width: 100%;
    height: 266px;
    justify-content: space-between;
    margin-top: 72px;
  }
  .endorsement {
    width: 350px;
    height: 234px;
    margin-bottom: 0 !important;
  }

  .endorsement:nth-child(2) {
    align-self: center;
  }
  .endorsement:nth-child(3) {
    align-self: flex-end;
  }
}
